/* Use javascript to direct people to a tutorial page after download completes? */

html{
  background-color: #223399;
  color: #000000;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', Arial, sans-serif
}

.nav{
  background-color: #ffffff;
  border: 2px solid #000000;
  list-style: none;
  margin: 1em;
  margin-top:0;
  padding: 1em;
  clear: none;
  float:left;
  width:15%;
  overflow: auto;
}

.nav li{
  padding-top:5%;
  padding-bottom:5%;
  float:right;
  clear:right;
  text-align: right;
}

ul.person li{
  list-style: none;
  padding-left:0;
  float: right;
  clear:right;
  margin-top: 0;
  margin-bottom: 4%;
}

ul.person{
  float: right;
  clear:right;
  padding-left:2%;
}

ul .selfie{
  border-radius: 50%;
  width: 20%;
  float: left;
  clear: left;
  padding-right: 2%;
}

.soon{
  color: #777777;
}

header{
  background-color: #ffffff;
  overflow: auto;
  border: 2px solid #000000;
  padding: 1em;
  margin: 1em;
}

#main_logo{
  float:left;
  width: 15%;
  padding-left: 5%;
}

header h1{
  padding-top: 0em;
  font-variant: small-caps;
  font-size: 64px;
  float: right;
  clear:right;
  width: 74%;
  text-align: right;
  padding-right: 6%;
  letter-spacing: 0.1em;
  margin-bottom:0;
}

header h2{
  font-weight: normal;
  font-size: 24px;
  text-align: right;
  float: right;
  clear: right;
  padding-right: 6%;
}

main{
  overflow: auto;
  background-color: #ffffff;
  border: 2px solid #000000;
  margin: 1em;
  padding: 1em;
  line-height: 1.5;
}

.tool_logo{
  float:left;
  clear:none;
  width:28%;
  margin:auto 0;
  padding-right: 2%;
}

a:link, a:visited{
  font-size:24px;
  color: #223399;
  text-decoration: none;
}

a:hover, a:active{
  text-decoration: underline;
}

a.dl{
  color: #bb2233;
}

a#email{
  font-size: 18px;
  text-decoration: underline;
}

p, article{
  font-size:18px;
  margin-top: 0;
}

article.desc{
  width: 70%;
  float:right;
  clear: right;
}

h3{
  margin-bottom:0.5em;
  margin-top:0;
  font-size: 28px;
}

/* .toolSlides{
  max-width: 1000px;
  position: relative;
}

.toolSlides img{
  height: 15%;
  margin: auto;
}

.toolSlides .dot{
  text-align: center;
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
} */

@media (max-width: 1100px) {
  header h1 {
    font-size: 54px;
    width: 77%;
  }
  #main_logo{
    padding-left: 2%;
  }
  header h2{
    font-size: 18px;
  }
}

@media (max-width: 900px) {
  header h1{
    padding-right: 0;
  }
  header h2 {
    display: none;
  }
}

@media (max-width: 860px) {
  header h1{
    font-size: 48px;
  }
}

@media (max-width: 780px) {
  #main_logo{
    display: none;
  }
  header h1{
    width: 100%;
  }
}

@media (max-width: 540px) {
  .nav a{
    font-size: 18px;
  }
}